# macOs only https://github.com/sorah/envchain
# https://github.com/settings/tokens
# envchain --set --noecho github RENOVATE_TOKEN
# https://hub.docker.com/settings/security?generateToken=true
# envchain --set github DOCKER_HUB_USERNAME
# envchain --set --noecho github DOCKER_HUB_TOKEN
export RENOVATE_TOKEN=$(envchain github env | grep RENOVATE_TOKEN | cut -d'=' -f2)
export RENOVATE_DOCKER_HUB_USERNAME=$(envchain github env | grep DOCKER_HUB_USERNAME | cut -d'=' -f2)
export RENOVATE_DOCKER_HUB_PASSWORD=$(envchain github env | grep DOCKER_HUB_TOKEN | cut -d'=' -f2)
