# macOs only https://github.com/sorah/envchain
# envchain --set --noecho github RENOVATE_TOKEN
# envchain --set --noecho github DOCKER_HUB_USERNAME
# envchain --set --noecho github DOCKER_HUB_TOKEN
export RENOVATE_TOKEN=$(envchain github env | grep RENOVATE_TOKEN | cut -d'=' -f2)
export RENOVATE_DOCKER_HUB_USERNAME=$(envchain github env | grep DOCKER_HUB_USERNAME | cut -d'=' -f2)
export RENOVATE_DOCKER_HUB_PASSWORD=$(envchain github env | grep DOCKER_HUB_TOKEN | cut -d'=' -f2)
