repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-added-large-files
    args: ['--maxkb=500']
  - id: check-ast
  - id: check-builtin-literals
  - id: check-case-conflict
  - id: check-docstring-first
  - id: check-executables-have-shebangs
  - id: check-json
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-toml
    files: ^templates/
  - id: check-vcs-permalinks
  - id: check-xml
  - id: check-yaml
  - id: debug-statements
  - id: destroyed-symlinks
  - id: detect-aws-credentials
    args: ['--allow-missing-credentials']
  - id: detect-private-key
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: fix-byte-order-marker
  - id: fix-encoding-pragma
  - id: mixed-line-ending
    args: ['--fix=lf']
    description: Forces to replace line ending by the UNIX 'lf' character.
  - id: pretty-format-json
    args: ['--autofix', '--no-sort-keys', '--indent=2']
    exclude: |
      (?x)(
          ^templates/|
          ^.github/renovate/
      )
  - id: requirements-txt-fixer
  - id: sort-simple-yaml
  - id: trailing-whitespace
  - id: no-commit-to-branch
    args: [--branch, master, --branch, main]
- repo: https://github.com/smian/pre-commit-makefile.git
  rev: 261f8fb4b31dfdc05d1a1d7fbde1f1462ecde66d
  hooks:
  - id: makefile-doc
- repo: meta
  hooks:
  - id: check-useless-excludes
- repo: https://github.com/gruntwork-io/pre-commit
  rev: v0.1.17 # Get the latest from: https://github.com/gruntwork-io/pre-commit/releases
  hooks:
  - id: shellcheck
- repo: https://github.com/ambv/black
  rev: 21.12b0
  hooks:
  - id: black
    language_version: python3.8
- repo: https://gitlab.com/pycqa/flake8
  rev: 5.0.4
  hooks:
  - id: flake8
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
    name: Markdownlint
    description: Run markdownlint on your Markdown files
    entry: mdl
    language: ruby
    files: \.(md|mdown|markdown)$
    exclude: |
      (?x)(
          ^templates/
      )
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.29.0
  hooks:
  - id: yamllint
    files: \.(yaml|yml)$
    types: [file, yaml]
    entry: 'yamllint --strict'
- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.3.0
  hooks:
  - id: commitlint
    stages: [commit-msg]
    additional_dependencies: ["@commitlint/config-conventional"]
- repo: https://github.com/thlorenz/doctoc
  rev: v2.2.0
  hooks:
  - id: doctoc
    args: ['--title=## Contents', '--github']
    descripiton: 'Generates table of contents for markdown files'
    exclude: |
      (?x)(
        ^.github/
      )
