name: test

on:
  workflow_dispatch:

jobs:
  show:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4.2.1

      - name: calculate date
        id: envs
        run: echo "::set-output name=CURRENT_DATE::$(date -u +'%Y-%m-%dT%H-%M')"

      - name: show date
        run: |
          echo "${{steps.envs.outputs.current_date}}"
